.main-container{
    background-color: aliceblue;
}
.navbar{
    font-family: Roboto,sana-serif;
    background-size: cover;
    padding: 15px 20px;
    transition:all 0.5s ease ;
    width: 100%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.menu{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    float: right;

}
.menu li{
    margin-right: 20px;
}

.menu li a{
    font-size: 24px;
    color: #000;
    text-transform: uppercase;
    font-weight: bolder;
    text-decoration: none;
    border-radius: 5px;
}
.menu li a:hover{
    color: #fff;
    background-color: #53559b;
    padding: 9px;

}

.picture{
    width: 100px;
    height: 100px;
    margin-left: 100px;

}
.nav-logo{
    font-size: 24px;
    color: #000;
    text-transform: uppercase;
    font-weight: bolder;
    text-decoration: none;
}
.introduction{
    background-color: #c9d2d5;
    height: 250px;
    padding: 0px;
    padding-right: 0px;
    padding-left: 0px;
}
.image-frame{
    width: 280px;
    height: 280px;
    background-image: url(../imagesP/profile-image.jpg);    
    background-position: center;
    border: #c1c8cacf;
    border-radius: 50%;
    position: absolute;
    margin-top: 110px;
    margin-left: 50%;
    transform: translateX(-50%);
}
.about-me{
    margin: 60px 0 0 0 ;
    margin-right: 0px;
    margin-left: 0px;
    padding: 100px 0px 50px 0px;
    padding-right: 0px;
    padding-left: 0px;
    font-family: 'Roboto Slab', serif;
    

}

.primary-heading{
    text-align: center;
    
    

}
.paragraph-header{
    text-align: center;
    margin-left: 5%;
    

}
.thin{
    font-weight: lighter;
    
}
.what-i-do{
    display: block;
    width: 100%;
}
.mini-div1{
    width: 30%;
    margin-left:20%;
    float:left;
}
.mini-div2{
    width: 30%;
    margin-left:2%;
    float: left;
    margin-top: 200px;
}
.section-3-heading{
    text-transform: none;
    letter-spacing: normal;
    font-size:48px;
}
.img-fluid{
    max-width:100%;
    height:auto;
    box-shadow: 4px 8px 8px 2px rgb(0 0 0 / 20%);
}
.mimi-div3{
    background-color:antiquewhite;
    width:100%;
    height: 300px;
    box-shadow: #62385acf;
    margin-top: 500px;
    

}
.read-more{
    font-family: Roboto, sans-serif;
    padding: 10px 30px;
    border: 1px solid #000000;
    color: #000000;
    letter-spacing: 2px;
    box-shadow: 3px 4px 2px rgb(0 0 0 / 20%);
    background-color: transparent;
    transition: all 0.5s ease;
    text-decoration: none;
    margin-top: 100px;

}



.read-more:hover{
   background-color: #000;
   color: #fff;
}

.more{
text-decoration: underline;
text-transform: uppercase;
text-align: center;
font-weight: bolder;

}
.section-3-heading1{
    text-transform: none;
    letter-spacing: normal;
    font-size:98px;
    text-align: left;
    margin-left:50px ;
}
    .section-3-heading2{
        font-weight: bolder;
        display: block;
    }

.para{
    font-size: large;
    font-weight: 200px;

}
.read-more1{
    font-family: Roboto, sans-serif;
    padding: 10px 30px;
    border: 1px solid #000000;
    color:  #ffff;
    letter-spacing: 2px;
    box-shadow: 3px 4px 2px rgb(0 0 0 / 20%);
    background-color:black;
    transition: all 0.5s ease;
    text-decoration: none;
    margin-top: 100px;

}
.read-more1:hover{
    background-color: #000;
   color: #fff;
}
